@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --clr_bg: #4a4a4a;
  --clr_white: #fff;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  background-color: var(--clr_bg);
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 7rem;
}

.nav--title {
  text-decoration: none;
  font-size: 3rem;
  font-weight:500;
}

.nav--title_txt {
  color: var(--clr_white);
  margin: 0;
}

.nav--links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 5rem;
}

.nav--links_itm_lnk {
  color: var(--clr_white);
  text-decoration: none;
  font-size: 2rem;
}

.nav--cart {
  background-color: transparent;
  border: none;
}

.nav--cart_img {
  filter: invert(99%) sepia(97%) saturate(0%) hue-rotate(82deg) brightness(104%) contrast(100%);
  width: 2.5rem;
}

.hero--home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
}

.hero--home_img {
  width: 100%;
  max-width: 80rem;
}

.hero--home_descCtn {
  width: 100%;
}

.hero--home {
  margin-top: 7.5rem;
}

.hero--home_title {
  font-size: max(5vw, 4.8rem);
  font-weight: 600;
  color: var(--clr_white);
  margin-bottom: 0;
}

.hero--home_subtitle {
  font-size: max(2.5vw, 2.4rem);
  font-weight: 600;
  color: var(--clr_white);
  margin: 0;
}

.home--buttons {
  display: flex;
  gap: 3rem;
  margin-top: 7rem;
}

.home--buttons-btn {
  font-size: 2.4rem;
  text-decoration: none;
  padding: 1.5rem 5.5rem;
  border: 3px solid var(--clr_white);
  border-radius: 2.2rem;
}

.home--btn_1 {
  background-color: var(--clr_white);
  color: var(--clr_bg);
}

.home--btn_2 {
  color: var(--clr_white);
}

@media screen and (max-width: 140rem) {
  .home--buttons-btn {
    font-size: 2rem;
    padding: 1.3rem 5rem;
    border-radius: 2.2rem;
  } 
} 

@media screen and (max-width: 100rem) {
  .home--buttons-btn {
    font-size: 1.8rem;
    padding: 1rem 4rem;
    border-radius: 1.8rem;
  } 
}

@media screen and (max-width: 51rem) {
  .hero--home_descCtn {
    padding-left: 3rem;
  }
  .home--buttons-btn {
    font-size: 1.8rem;
    padding: 1rem 4rem;
    border-radius: 1.8rem;
  } 
  .home--buttons {
    gap: 2rem;
  }
}